/*
!.gitignore
!flake.nix
!flake.lock
!README.md

# Git
!/git
/git/*
!/git/config

# SSH
!/ssh
/ssh/*
!/ssh/config

# Fish
!/fish
/fish/*
!/fish/config.fish
!/fish/fish_plugins

# Alacritty
!/alacritty
/alacritty/*
!/alacritty/alacritty.toml
